<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p> Your PNR is {{entries.pnr}}</p>
<br>
<br>
<p> Flight price per seat: {{entries.flight_price}}</P>
<br>
<br>
<p>You have opted for {{entries.seat}} seat/s.<p>
<br>
<br>
<p> Opted for Meal :{{entries.meal}}</p>
<br>
<br>
<p>Opted for Insuarance :{{entries.insuarance}}</p>
<br>
<br>
<p> Your Payment is : {{entries.total_amount}}</p> 
<br>
<br>
<p> Today's Special Discount is {{entries.dis_percent}}%</p>
<br>
<br>
<p> Final Amount Rs{{entries.discounted}} /-</p>
<br>
<br>
<H1> Enjoy Your Flight</h1>
</body>
</html>
